* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
}

ul, ol {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

h1,h2,h3,h4, p {
    margin: 0;
}

h1 {
    font-size: 42px;
    font-weight: 500;
}
h2 {
    font-size: 32px;
    font-weight: 500;
}
h2 {
    font-size: 28px;
    font-weight: 500;
}

.btn {
    cursor: pointer;
    border: none;
    outline: non;
    padding: 8px 16px;
    border-radius: 10px;
    border-bottom: 2px solid transparent;
    color: #fff;
}

.btn-primary {
    background-color: #52bab3;
}
.btn-info {
    background-color: #1148ad;
}
.btn-red {
    background-color: #db2c0d;
}