*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content-container {
  width:100%;
  margin: auto; 
}

.section-1 ,.section-2 {
  display: flex;
  align-items:center;
  justify-content: space-around;
  

}
.text {
  flex:1;
  margin:20px;
}

.text h2 em {
  font-family:
  Playfair Display ;
  font-style: italic;
  color: #427174;
  font-size: 48px;
  font-weight: 500;
}

.text p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color:#4A5568;
  font-family: Inter;
  justify-content:space-evenly;
}

.box {
  flex: 1;
  width:100px;
  height:250px; 
  background-color: #E6EAE8;
  border-radius: 1px;
  border: 1px solid black;
  
}
@media (max-width: 768px) {
  .content-container .box {
    display: flex;
    flex-direction: column;
     gap:2px;
  }

  .text {
    padding: 2px;
    margin-bottom:2px;
  }

}